@tailwind base;
@tailwind components;
@tailwind utilities;

/* If the user has no preferred theme, we default to dark mode */
:root {
  --background: 16, 16, 16;
  --background-gray: 23, 23, 23;
  --background-gray-light: 38, 38, 38;
  --text: 255, 255, 255;
  --accent: 0, 194, 103;
  --primary: 25, 105, 70;
  --secondary: 0, 36, 19;
  --background-green: 6, 19, 13;
}

/* If the user prefers light mode, we override the default values */
@media (prefers-color-scheme: light) {
  :root {
    --background: 239, 239, 239;
    --background-gray: 232, 232, 232;
    --background-gray-light: 217, 217, 217;
    --text: 66, 66, 66;
    --primary: 49, 216, 138;
    --background-green: 200, 236, 202;
  }
}

body {
  color: rgba(var(--text));
  background: rgba(var(--background));
}
